@acacia:registry=https://asia-northeast3-npm.pkg.dev/acacia-399710/acacia-npm-asia-northeast3/
//asia-northeast3-npm.pkg.dev/acacia-399710/acacia-npm-asia-northeast3/:always-auth=true
@shepherd23-internal:registry=https://asia-northeast3-npm.pkg.dev/acacia-399710/acacia-npm-asia-northeast3/
//asia-northeast3-npm.pkg.dev/acacia-399710/acacia-npm-asia-northeast3/:always-auth=true
@napier:registry=https://asia-northeast3-npm.pkg.dev/acacia-399710/acacia-npm-asia-northeast3/
//asia-northeast3-npm.pkg.dev/acacia-399710/acacia-npm-asia-northeast3/:always-auth=true
@faena:registry=https://asia-northeast3-npm.pkg.dev/acacia-399710/acacia-npm-asia-northeast3/
//asia-northeast3-npm.pkg.dev/acacia-399710/acacia-npm-asia-northeast3/:always-auth=true
@pickhound:registry=https://asia-northeast3-npm.pkg.dev/pickhound/pickhound-npm-asia-northeast3/
//asia-northeast3-npm.pkg.dev/pickhound/pickhound-npm-asia-northeast3/:always-auth=true
strict-peer-dependencies=false
auto-install-peers=true
